services:
  - type: web
    name: traffic-automation
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "./start.sh"
    envVars:
      - key: DEBUG
        value: false
      - key: PYTHON_VERSION
        value: 3.9.18
